<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByAtOkFqd21Lb5VryA9IuEAb7LpbUreYA</string>
	<key>GCM_SENDER_ID</key>
	<string>1043574496141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-2f3c6</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-2f3c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043574496141:ios:61a719ab10f67ee2bc3bc4</string>
</dict>
</plist>